.user-photos-container {
  padding: 20px;
  max-width: 1200px; /* Set a max width to center the content */
  margin: 0 auto; /* Center the container */
  overflow: hidden; /* Ensure content doesn't overflow */
}

.photo-card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.2s;
  overflow: hidden; /* Hide overflow of any content */
}

.photo-card img {
  width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
}

.photo-card:hover {
  transform: scale(1.02); /* Slight zoom effect on hover */
}

.comment {
  margin-top: 10px;
  padding: 5px 0;
  border-top: 1px solid #ddd; /* Divider between comments */
}

.comment:last-child {
  border-bottom: none; /* Remove border for last comment */
}

.comment-date {
  margin-top: 5px; /* Space above the comment date */
}

/* Ensure grid items do not exceed available height */
.main-grid-item {
  overflow-y: auto; /* Allow scrolling if content exceeds height */
}

/* Styling for the new comment input section */
.add-comment {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.add-comment .MuiTextField-root {
  margin-bottom: 10px;
}
.add-comment .MuiButton-root {
  align-self: flex-end; /* Align the button to the end of the form */
}
.commenter-link {
  text-decoration: none;
  color: inherit;
}
